* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url('images/19366.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
}

h1 {
    margin: 3rem;
    font-family: 'Noto Sans', sans-serif;
}

.board {
    display: grid;
    grid-template-columns: repeat(6, 5rem);
    gap: 0.25rem;
}

.card {
    width: 5rem;
    height: 5rem;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: black;
    border-radius: 0.5rem;
    cursor: default;
    user-select: none;
    transform-style: preserve-3d;
    transition-duration: 200ms;
    border-color: transparent;
    border: 0.15rem solid transparent;
    perspective: 1rem
}



.card.flipped {
  background: white;
  color: black;
  border: 0.15rem solid #3498db;
}
